<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jim.itimerserver.mapper.SmokeTimerMapper">

    <resultMap id="BaseResultMap" type="com.jim.itimerserver.entity.timer.SmokeTimer">
        <id property="id" column="id"/>
        <result property="rev1" column="rev1"/>
        <result property="rev2" column="rev2"/>
        <result property="date" column="date"/>
        <result property="time" column="time"/>
    </resultMap>

    <insert id="insert" parameterType="com.jim.itimerserver.entity.timer.SmokeTimer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO smoke_timer (rev1, rev2, date, time)
        VALUES (#{rev1}, #{rev2}, #{date}, #{time})
    </insert>

    <select id="selectByDate" resultMap="BaseResultMap">
        SELECT * FROM smoke_timer WHERE date = #{date}
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM smoke_timer
    </select>

    <select id="countDailyData" resultType="com.jim.itimerserver.entity.model.DailyCount">
        SELECT date, COUNT(*) AS count
        FROM smoke_timer
        WHERE date BETWEEN #{startDate} AND #{endDate}
        GROUP BY date
        ORDER BY date ASC
    </select>

</mapper>

